@use "./breakpoints.scss" as breakpoints;

@media (max-width: breakpoints.$s) {
    .mobile {
        text-align: center;
        display: flex;
        flex-direction: column-reverse; /* icons first, attribution below */
        align-items: center;
        gap: 12px;
    }
}